openapi: 3.0.3
info:
  title: dotti.work API
  version: 2.0.0
  description: API PHP nativa para descoberta de projetos open source com OAuth GitHub, perfil tecnico, preferencias, cache e matching deterministico.

servers:
  - url: https://api.dotti.work
    description: Producao
  - url: http://localhost/dottiwork_api/api
    description: Local

tags:
  - name: Sistema
  - name: Autenticacao
  - name: Perfil
  - name: Catalogo
  - name: Tecnologias
  - name: Preferencias
  - name: Matches
  - name: Repositorios
  - name: Estados
  - name: Historico
  - name: Conta

paths:
  /health:
    get:
      tags: [Sistema]
      summary: Status da API
      responses:
        "200":
          description: API online
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /health/database:
    get:
      tags: [Sistema]
      summary: Status do banco de dados
      description: Em producao, pode exigir sessao autenticada.
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          description: Banco online
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /auth/github/start:
    get:
      tags: [Autenticacao]
      summary: Inicia OAuth com GitHub
      parameters:
        - in: query
          name: return_to
          schema:
            type: string
            example: /onboarding
          description: Caminho interno seguro para retorno apos login.
      responses:
        "302":
          description: Redireciona para GitHub.

  /auth/github/callback:
    get:
      tags: [Autenticacao]
      summary: Callback OAuth GitHub
      parameters:
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Grava cookie HttpOnly e redireciona para o front-end.

  /auth/me:
    get:
      tags: [Autenticacao]
      summary: Usuario autenticado
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          description: Usuario atual sem tokens internos.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: "#/components/schemas/User"
                          profile:
                            $ref: "#/components/schemas/UserProfile"
                          github:
                            $ref: "#/components/schemas/GitHubIntegration"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      tags: [Autenticacao]
      summary: Revoga sessao atual
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /auth/logout-all:
    post:
      tags: [Autenticacao]
      summary: Revoga todas as sessoes do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /auth/session:
    get:
      tags: [Autenticacao]
      summary: Valida sessao atual
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /integrations/github/status:
    get:
      tags: [Autenticacao]
      summary: Status da integracao GitHub
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /integrations/github/sync:
    post:
      tags: [Autenticacao]
      summary: Sincroniza perfil publico do GitHub
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "502":
          $ref: "#/components/responses/BadGateway"

  /me/profile:
    get:
      tags: [Perfil]
      summary: Perfil completo do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
    put:
      tags: [Perfil]
      summary: Atualiza perfil e objetivos
      security:
        - BearerAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileUpdateInput"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "422":
          $ref: "#/components/responses/ValidationError"

  /me/import-local-data:
    post:
      tags: [Perfil]
      summary: Importa dados do MVP em localStorage
      security:
        - BearerAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocalDataImport"
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /me/export:
    get:
      tags: [Perfil]
      summary: Exporta dados persistidos do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /me/account:
    delete:
      tags: [Conta]
      summary: Exclui conta do usuario autenticado
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /catalog/technologies:
    get:
      tags: [Catalogo]
      summary: Lista catalogo de tecnologias
      parameters:
        - $ref: "#/components/parameters/Category"
        - $ref: "#/components/parameters/Search"
        - $ref: "#/components/parameters/Active"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /catalog/technologies/{slug}:
    get:
      tags: [Catalogo]
      summary: Detalhe de tecnologia
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "404":
          $ref: "#/components/responses/NotFound"

  /me/technologies:
    get:
      tags: [Tecnologias]
      summary: Stacks do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
    put:
      tags: [Tecnologias]
      summary: Substitui stacks do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserTechnologyReplaceInput"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "422":
          $ref: "#/components/responses/ValidationError"

  /me/preferences:
    get:
      tags: [Preferencias]
      summary: Preferencias do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
    put:
      tags: [Preferencias]
      summary: Atualiza preferencias e invalida matches
      security:
        - BearerAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferenceInput"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "422":
          $ref: "#/components/responses/ValidationError"

  /matches:
    get:
      tags: [Matches]
      summary: Lista matches armazenados
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: state
          schema:
            type: string
        - in: query
          name: minimum_score
          schema:
            type: number
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [best_match, most_active, most_stars, beginner_friendly, recently_updated]
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Lista paginada de matches.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchListResponse"

  /matches/refresh:
    post:
      tags: [Matches]
      summary: Recalcula matches usando GitHub e cache
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/BadGateway"

  /matches/{githubRepositoryId}:
    get:
      tags: [Matches]
      summary: Retorna match especifico
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/GitHubRepositoryId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "404":
          $ref: "#/components/responses/NotFound"

  /repositories/{owner}/{repo}:
    get:
      tags: [Repositorios]
      summary: Detalhe de repositorio
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Owner"
        - $ref: "#/components/parameters/Repo"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "502":
          $ref: "#/components/responses/BadGateway"

  /repositories/{owner}/{repo}/issues:
    get:
      tags: [Repositorios]
      summary: Issues recomendadas
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Owner"
        - $ref: "#/components/parameters/Repo"
        - in: query
          name: difficulty
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
        - in: query
          name: label
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "502":
          $ref: "#/components/responses/BadGateway"

  /repositories/{owner}/{repo}/activity:
    post:
      tags: [Repositorios]
      summary: Registra interacao com repositorio
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Owner"
        - $ref: "#/components/parameters/Repo"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_type]
              properties:
                event_type:
                  type: string
                  enum: [viewed_project, opened_github, started_contributing, sent_pull_request, marked_contributed]
      responses:
        "201":
          $ref: "#/components/responses/Success"

  /me/repositories:
    get:
      tags: [Estados]
      summary: Lista projetos por estado
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: state
          schema:
            type: string
            enum: [saved, ignored, researching, working, pull_request_sent, contributed, archived]
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /me/repositories/{githubRepositoryId}/state:
    put:
      tags: [Estados]
      summary: Define estado de projeto
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/GitHubRepositoryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [saved, ignored, researching, working, pull_request_sent, contributed, archived]
                notes:
                  type: string
                  nullable: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      tags: [Estados]
      summary: Remove estado salvo
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/GitHubRepositoryId"
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /me/repositories/{githubRepositoryId}/restore:
    post:
      tags: [Estados]
      summary: Restaura projeto ignorado
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - $ref: "#/components/parameters/GitHubRepositoryId"
      responses:
        "200":
          $ref: "#/components/responses/Success"

  /me/history:
    get:
      tags: [Historico]
      summary: Historico paginado
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: event_type
          schema:
            type: string
        - in: query
          name: github_repository_id
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/Success"
    delete:
      tags: [Historico]
      summary: Limpa historico do usuario
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Success"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-session-token
      description: Token local opaco da API. O token GitHub nunca e exposto.
    CookieAuth:
      type: apiKey
      in: cookie
      name: dotti_session
      description: Cookie HttpOnly/Secure/SameSite=Lax usado pelo front-end com credentials include.

  parameters:
    Owner:
      in: path
      name: owner
      required: true
      schema:
        type: string
    Repo:
      in: path
      name: repo
      required: true
      schema:
        type: string
    GitHubRepositoryId:
      in: path
      name: githubRepositoryId
      required: true
      schema:
        type: integer
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        default: 30
        maximum: 100
    Cursor:
      in: query
      name: cursor
      schema:
        type: string
    Search:
      in: query
      name: search
      schema:
        type: string
    Active:
      in: query
      name: active
      schema:
        type: boolean
    Category:
      in: query
      name: category
      schema:
        type: string
        enum: [language, framework, library, tool, platform, database, devops_cloud]

  responses:
    Success:
      description: Operacao concluida
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
    Unauthorized:
      description: Sessao ausente, invalida ou expirada
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Recurso nao encontrado
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Dados invalidos
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Limite de atualizacao ou GitHub atingido
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BadGateway:
      description: Falha em servico externo
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServiceUnavailable:
      description: Servico indisponivel
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    SuccessResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object

    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required: [code, message, details]
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Dados invalidos.
            details:
              type: array
              items:
                type: object

    User:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
          nullable: true
        display_name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        github_profile_url:
          type: string
          nullable: true
        created_at:
          type: string
          nullable: true

    UserProfile:
      type: object
      properties:
        role:
          type: string
          nullable: true
        seniority:
          type: string
          enum: [junior, mid, senior]
          nullable: true
        onboarding_completed:
          type: boolean
        goals:
          type: array
          items:
            type: string

    GitHubIntegration:
      type: object
      properties:
        connected:
          type: boolean
        login:
          type: string
          nullable: true
        provider:
          type: string
          example: github

    ProfileUpdateInput:
      type: object
      properties:
        display_name:
          type: string
          maxLength: 150
        role:
          type: string
          maxLength: 100
        seniority:
          type: string
          enum: [junior, mid, senior]
        goals:
          type: array
          items:
            type: string
            enum: [first_contribution, build_portfolio, practical_experience, join_communities, long_term_projects]
        onboarding_completed:
          type: boolean

    UserTechnologyReplaceInput:
      type: object
      required: [technologies]
      properties:
        technologies:
          type: array
          maxItems: 50
          items:
            type: object
            required: [technology_id, proficiency_level]
            properties:
              technology_id:
                type: integer
              proficiency_level:
                type: string
                enum: [learning, basic, daily, advanced]
              interest_level:
                type: string
                enum: [learn, contribute, mentor]

    UserPreferenceInput:
      type: object
      required:
        - contribution_types
        - difficulty_levels
        - project_sizes
        - documentation_languages
        - organization_types
      properties:
        contribution_types:
          type: array
          items:
            type: string
            enum: [bug_fix, feature, documentation, tests, performance, refactor, accessibility, translation]
        difficulty_levels:
          type: array
          items:
            type: string
            enum: [beginner, intermediate, advanced]
        project_sizes:
          type: array
          items:
            type: string
            enum: [small, medium, large]
        documentation_languages:
          type: array
          items:
            type: string
            enum: [en, pt, es, any]
        organization_types:
          type: array
          items:
            type: string
            enum: [independent, startup, company, community, foundation, any]
        activity_window_days:
          type: integer
          minimum: 1
          maximum: 3650
        minimum_stars:
          type: integer
          minimum: 0
        require_good_first_issue:
          type: boolean
        require_help_wanted:
          type: boolean
        default_sort_by:
          type: string
          enum: [best_match, most_active, most_stars, beginner_friendly, recently_updated]

    LocalDataImport:
      type: object
      properties:
        profile:
          type: object
        technologies:
          type: array
          items:
            type: object
        preferences:
          type: object
        repository_states:
          type: array
          items:
            type: object
        history:
          type: array
          items:
            type: object

    RepositorySummary:
      type: object
      properties:
        github_repository_id:
          type: integer
        owner:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        html_url:
          type: string
        stars:
          type: integer
        forks:
          type: integer
        open_issues:
          type: integer
        languages:
          type: array
          items:
            type: string
        topics:
          type: array
          items:
            type: string
        updated_at:
          type: string

    Match:
      type: object
      properties:
        score:
          type: number
          example: 92.5
        recommended_seniority:
          type: string
        breakdown:
          type: object
          properties:
            stack:
              type: number
            difficulty:
              type: number
            issues:
              type: number
            activity:
              type: number
            health:
              type: number
            contribution_readiness:
              type: number
        reasons:
          type: array
          items:
            type: string

    MatchListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  repository:
                    $ref: "#/components/schemas/RepositorySummary"
                  match:
                    $ref: "#/components/schemas/Match"
                  user_state:
                    type: string
                    nullable: true
            pagination:
              type: object
              properties:
                next_cursor:
                  type: string
                  nullable: true
            metadata:
              type: object
